.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-box {
    padding: 1em;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 600px;
    border: 2px solid #ff5353;
}

.btn {
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 16px;
}